@page "/reportNew"
@using Dong.Application.Calculator
@using Dong.Application.Crud
@using Dong.Domain.Entities
@using Dong.Application.Identity
@using Dong.Infrastructure.Calculator
@using Dong.Infrastructure.Crud
@inject ICrud Crud
@inject IDebitCreditCalculator DebitCreditCalculator
@inject IIdentity Identity
@rendermode InteractiveServer


<select class="form-select" @bind="mobile" @bind:after="OnGetTogetherChanged">
    <option value="">انتخاب شخص</option>
    @foreach (var g in users)
    {
        <option value="@g.Mobile">@g.Name</option> 
    }
</select>
<br />

<input class="form-control"
       placeholder="شماره موبایل"
       @bind="mobile" />


<button class="btn btn-primary mt-2" @onclick="Search">
    نمایش گزارش
</button>
<p class="text-danger">@message</p>
<table class="table table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>  </th>
            <th>به/از</th>
            <th>پرداخت کن   </th>
            <th>دریافت کن  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in reports)
        {
            <tr>
                <td>@r.FromName</td>
                <td>@r.ToName</td>
                <td class="text-danger">
                    @(r.Balance < 0 ? 0: r.Balance.ToString("N0"))
                </td>
                <td class="text-success">
                    @(r.Balance < 0 ? (r.Balance * -1).ToString("N0") : 0)
                </td>
            </tr>
        }
    </tbody>
</table>



