@page "/report"
@using Dong.Application.Calculator
@using Dong.Application.Crud
@using Dong.Domain.Entities
@using Dong.Application.Identity
@using Dong.Infrastructure.Calculator
@inject ICrud Crud
@inject IDebitCreditCalculator DebitCreditCalculator
@inject IIdentity Identity
@rendermode InteractiveServer


<h3> گزارش مالی شخص</h3>
<input class="form-control"
       placeholder="شماره موبایل"
       @bind="mobile" />

<button class="btn btn-primary mt-2" @onclick="Search">
    نمایش گزارش
</button>

<p class="text-danger">@message</p>



@if (report != null)
{

    <table class="table table-bordered text-center mt-3">
        <thead class="table-dark">
            <tr>
                <th>دورهمی</th>
                <th>پرداخت کنند</th>
                <th>دریافت کننده</th> 
                <th>مبلغ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in report)
            {
                <tr>
                    <td>@s.getTogether.NameGetTogether</td>
                    <td>@s.FromUserId</td>
                    <td>@s.ToUserId</td>
                    <td>@s.Amount.ToString("N0")</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private string mobile = string.Empty;
    private string message = string.Empty;
    private List<Settlement>?  report;
    private List<FinancialLedger> reports = new();

    private void Search()
    {
        report = Crud.GetUserFinancialReport(mobile).ToList();
        if (report == null)
        {
            message = "❌ کاربری با این شماره یافت نشد";
        }
    }
}

